/*pc*/
@media screen and (min-width:768px){
    .emailorder {
        position: fixed;
        bottom: 0;
        /*right: 50%;*/
        left:40%;
        margin:0 auto;
        background-color:white;
        text-align:center;
        /*border: 3px solid #8AC007;*/
        font-size: 15px;
        color: #000;
        font-weight: bold;
        background-color: #d2d2d2;
        text-align: center;
        width: 310px;
        padding: 10px;
        display:none;
        z-index:99;
    }
    .emailpic {
        height: 36px;
        width: 54px;
        margin-top: 10px;
    }
    .close {
        position:absolute;
        right: 3px;
        top: 3px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}
/*pad*/
@media screen and  (max-width: 1024px) {
    .emailorder {
        position: fixed;
        bottom: 0;
        /*right: 50%;*/
        /*left:40%;*/
        margin:0 auto;
        background-color:white;
        text-align:center;
        /*border: 3px solid #8AC007;*/
        font-size: 15px;
        color: #000;
        font-weight: bold;
        background-color: #d2d2d2;
        text-align: center;
        width: 310px;
        padding: 10px;
        display:none;
        z-index:99;
    }
    .emailpic {
        height: 36px;
        width: 54px;
        margin-top: 10px;
    }
    .close {
        position:absolute;
        right: 3px;
        top: 3px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}
/*phone*/
@media screen and (max-width: 767px){
    .emailorder {
        position: fixed;
        bottom: 0;
        /*right: 50%;*/
        /*left:40%;*/
        /*margin:0 auto;*/
        background-color:white;
        text-align:center;
        /*border: 3px solid #8AC007;*/
        font-size: 15px;
        color: #000;
        font-weight: bold;
        background-color: #d2d2d2;
        text-align: center;
        width: 100%;
        /*padding: 10px;*/
        display:none;
        z-index:99;
    }
    .emailpic {
        height: 36px;
        width: 54px;
        margin-top: 10px;
    }
    .close {
        position:absolute;
        right: 3px;
        top: 3px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}
@media screen and (max-height:480px){
    .emailorder {
        position: fixed;
        bottom: 0;
        /*right: 50%;*/
        /*left:40%;*/
        /*margin:0 auto;*/
        background-color:white;
        text-align:center;
        /*border: 3px solid #8AC007;*/
        font-size: 15px;
        color: #000;
        font-weight: bold;
        background-color: #d2d2d2;
        text-align: center;
        width:100%;
        /*padding: 10px;*/
        display:none;
        z-index:99;
    }
    .emailpic {
        height: 36px;
        width: 54px;
        margin-top: 10px;
    }
    .close {
        position:absolute;
        right: 3px;
        top: 3px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}
