@charset "UTF-8";
/*公用樣式*/
.value-page * {
	box-sizing: border-box;
	-weblit-overflow-scrolling: touch;
}
html, body.value-page {
	height: 100%;
}
.value-page .wrapper {
	position: relative;
	color: #373737;
	font-family: Roboto, "微軟正黑體", "繁黑體", 'Microsoft JhengHei', 'Microsoft YaHei', 'Heiti TC', 'LiHei Pro', sans-serif, "新細明體", PMingLiU;
	line-height: 1.5;
	letter-spacing: normal;
}
.value-page a, .value-page a:hover {
	transition: all 0.3s;
	text-decoration: none;
}
.value-page .embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
.value-page .embed-responsive::before {
	display: block;
	content: "";
}
.value-page .embed-responsive .embed-responsive-item,
.value-page .embed-responsive iframe,
.value-page .embed-responsive embed,
.value-page .embed-responsive object,
.value-page .embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.value-page .embed-responsive-21by9::before {
	padding-top: 42.857143%;
}
.value-page .embed-responsive-16by9::before {
	padding-top: 56.25%;
}
.value-page .embed-responsive-4by3::before {
	padding-top: 75%;
}
.value-page .embed-responsive-1by1::before {
	padding-top: 100%;
}
.value-page .clearfix {
	clear: both;
}
.value-page .container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.value-page .container:before, .value-page .container:after {
	content: " ";
	display: table;
}
.value-page .container:after {
	clear: both;
}
@media (min-width: 768px) {
	.value-page .container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.value-page .container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.value-page .container {
		width: 1170px;
	}
}
.value-page .container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.value-page .container-fluid:before, .value-page .container-fluid:after {
	content: " ";
	display: table;
}
.value-page .container-fluid:after {
	clear: both;
}
.value-page .row {
	margin-left: -15px;
	margin-right: -15px;
}
.value-page .row:before, .value-page .row:after {
	content: " ";
	display: table;
}
.value-page .row:after {
	clear: both;
}
.value-page.index-page .subNav {
	top: 0;
}
.value-page .fixBtn {
	position: fixed;
	bottom: 15px;
	right: 15px;
	opacity: 0;
	z-index: 10;
	width: 0px;
	overflow: hidden;
	transition: all 0.3s;
}
.value-page .fixBtn.afixed {
	width: auto;
	opacity: 1;
	animation: upDownBtn 3s infinite;
}
@keyframes upDownBtn {
	0% { bottom: 15px; }
	25% { bottom: 25px;}
	50% { bottom: 15px;}
}
.value-page .fixBtn a {
	position: relative;
	display: block;
	width: 50px;
	height: 55px;
	padding: 11px 7px;
	color: #666;
	font-size: 12px;
	line-height: 1.3;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border: solid #666;
	border-width: 2px;
}
.value-page .fixBtn a:after {
	content: '';
	position: absolute;
	top: -2px;
	width: 10px;
	border: 1px solid #fff;
	transition: 0.3s;
}
.value-page .fixBtn a:after {
	left: 12px;
}
.value-page .fixBtn a:hover:after {
	left: 26px;
}
.value-page .fixBtn a + a {
	color: #fff;
	background-color: rgba(202, 12, 24, 0.95);
}
.value-page .fixBtn a + a:after {
	left: auto;
	right: 12px;
}
.value-page .fixBtn a + a:hover:after {
	left: auto;
	right: 26px;
}
.value-page .fixBtn a.scrollTop {
	height: 45px;
	border-width: 2px 2px 0;
	background-image: url(../../img/subscriptions/arrow-up.png);
	background-size: 13px 23px;
	background-position: center;
	background-repeat: no-repeat;
}
/*-----------------------------------------------------*/
/*slide*/
.value-page .carousel {
	padding-top: 25px;
	padding-bottom: 35px;
	margin-left: -15px;
	margin-right: -15px;
}
.value-page .carousel-inner > .item:before,
.value-page .carousel-inner > .item:after {
	content: " ";
	display: table;
	clear: both;
}
.value-page .carousel-inner > .item > a {
	position: relative;
	display: block;
}
.value-page .carousel-inner > .item > .item-left > a {
	position: relative;
	display: block;
	cursor: pointer;
	z-index: 1;
}
.value-page .carousel-inner > .item > .item-left {
	position: relative;
}
.value-page .carousel-inner > .item > .item-left {
	position: relative;
}
.value-page .carousel-inner > .item > .item-left .embed-responsive {
	position: absolute;
	top: 0;
	z-index: 0;
}
.value-page .carousel-inner > .item > a:before,
.value-page .carousel-inner > .item > a:after,
.value-page .carousel-inner > .item > .item-left > a.player:before,
.value-page .carousel-inner > .item > .item-left > a.player:after {
	content: '';
	position: absolute;
	display: block;
	transition: opacity 0.3s;
	z-index: 1;
}
.value-page .carousel-inner > .item > a:before,
.value-page .carousel-inner > .item > .item-left > a.player:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 2%, black 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 2%, black 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 2%, #000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#000000',GradientType=1 );
}
.value-page .carousel-inner > .item > a:after,
.value-page .carousel-inner > .item > .item-left > a.player:after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 52px;
	height: 52px;
	background-size: cover;
	background-position: center;
}
.value-page .carousel-inner > .item > a:after {
	background-image: url(../../img/subscriptions/link-circle.svg);
}
.value-page .carousel-inner > .item > .item-left > a.player:after {
	background-image: url(../../img/subscriptions/play-circle.svg);
}
@media (max-width: 768px) {
	.value-page .carousel-inner > .item > a:before,
	.value-page .carousel-inner > .item > a:after {
		opacity: 0;
	}
	.value-page .carousel-inner > .item > .item-left > a.player:before {
		opacity: 0.15;
	}
	.value-page .carousel-inner > .item > .item-left > a.player:after {
		opacity: 1;
	}
}
@media (min-width: 769px) {
	.value-page .carousel-inner > .item > a:before,
	.value-page .carousel-inner > .item > a:after,
	.value-page .carousel-inner > .item > .item-left > a.player:before {
		opacity: 0;
	}
	.value-page .carousel-inner > .item > a:hover:before,
	.value-page .carousel-inner > .item > .item-left > a.player:hover:before {
		opacity: 0.35;
	}
	.value-page .carousel-inner > .item > a:hover:after,
	.value-page .carousel-inner > .item > .item-left > a.player:after {
		opacity: 1;
	}
}
/*section*/
.value-page .wrapper section.opening .scrollDown {
	position: absolute;
	right: 50%;
	bottom: 0px;
	width: 40px;
	height: 40px;
	margin-right: -20px;
	background: url(../../img/subscriptions/download_arrow_white.png) no-repeat center center;
	opacity: 0;
	z-index: 10;
	animation: upDown 1s 11.5s infinite forwards alternate;
}
@keyframes upDown {
	0% { bottom: 0px; opacity: 1; }
	40% { bottom: 10px; }
	100% { bottom: 0px; opacity: 1; }
}
.value-page .wrapper section.marquee:after {
	background-color: transparent;
}
.value-page .seven-sort {
	position: relative;
	overflow: hidden;
}
.value-page .seven-sort .container {
	padding-bottom: 75px;
}
.value-page .seven-sort.device.pause .container {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 100px;
	transform: translate(-50%, -50%);
	z-index: 3;
	transition: width 0.3s;
}
.value-page .seven-sort:nth-child(even) {
	background-color: #E4E4E4;
}
.value-page .seven-sort:nth-child(odd) {
	background-image: url(../../img/subscriptions/dot.jpg);
}
.value-page .seven-sort.device {
	background: #ada8a4 !important;
}
.value-page .seven-sort.device.pause {
	background-image: url(../../img/subscriptions/dot.jpg) !important;
}
.value-page .h2-dec-group:before,
.value-page .h2-dec-group:after {
	content: '';
	display: block;
	clear: both;
}
.value-page .h2-decorate {
	position: relative;
	margin-bottom: -80px;
	line-height: 1;
	opacity: 0.8;
}
.value-page .h2-decorate span {
	display: inline-block;
}
.value-page .h2-decorate span img {
	display: block;
	width: 195px;
}
.value-page .h2-decorate .eng {
	position: relative;
	top: -1em;
	font-size: 40px;
	font-weight: 100;
}
.value-page .seven-sort .h2-group h2 {
	margin-top: 0.45em;
	margin-bottom: 0.45em;
	color: #C80C18;
	font-size: 32px;
}
.value-page .seven-sort .h2-group h2 img {
	display: block;
	padding: 8px 0;
	height: 48px;
}
.value-page .seven-sort .h2-group p {
	color: #666;
	font-size: 17px;
}
.value-page .seven-sort h5 {
	color: #666;
	font-size: 16px;
}
.value-page .seven-sort h4 {
	margin-top: 0.25em;
	font-size: 21px;
	font-weight: bold;
}
.value-page .seven-sort h4 a {
	display: block;
	color: #333;
	cursor: pointer;
}
.value-page .seven-sort h4 a:hover {
	color: #D40C18;
}
.value-page .seven-sort .preview {
	position: relative;
	background-image: url(../../img/subscriptions/sort4.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}
.value-page .seven-sort .videoRWD {
	position: absolute;
	left: 0;
	width: 100%;
	max-width: 1280px;
	z-index: 0;
}
.value-page .seven-sort .preview img {
	display: block;
	width: 100%;
	max-width: 1600px;
	height: auto;
	padding: 100px 0;
	opacity: 0;
}
.value-page .seven-sort .preview:before,
.value-page .seven-sort .preview:after {
	content: "";
	position: absolute;
	display: block;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.value-page .seven-sort .preview:before {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.value-page .seven-sort.play .preview:after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 102px;
	height: 102px;
	background-image: url(../../img/subscriptions/play-circle.svg);
}
.value-page .seven-sort.device.pause .h2-decorate {
	position: relative;
	margin-top: -59px;
}
.value-page .seven-sort.device.pause .h2-decorate,
.value-page .seven-sort.device.pause .h2-group {
	float: none;
}
.value-page .seven-sort.device.pause .h2-decorate {
	position: relative;
}
.value-page .seven-sort.device .h2-decorate .eng {
	color: #fff;
}
.value-page .seven-sort.device .h2-group h2,
.value-page .seven-sort.device .h2-group p {
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.value-page .seven-sort.device .h2-group h2 {
	color: #fff;
}
.value-page .seven-sort.device .h2-group p {
	color: #E3E3E3;
}
/*marquee*/
.value-page #marquee-container {
	overflow-x: hidden;
}
.value-page #marquee {
	padding-top: 40px;
	width: calc( 144px * 200 );
}
.value-page #marquee:after {
	content: "";
	display: block;
	clear: both;
}
.value-page .marquee-container {
	position: relative;
	padding-top: 35px;
	overflow: hidden;
}
.value-page .marquee-container:before,
.value-page .marquee-container:after {
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: 0;
	width: 50px;
	height: 100%;
}
.value-page .js-marquee-wrapper:before,
.value-page .js-marquee-wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.value-page .marquee-container:before {
	left: 0;
	background: -moz-linear-gradient(left, #e4e4e4 0%, rgba(228, 228, 228, 0) 100%);
	background: -webkit-linear-gradient(left, #e4e4e4 0%, rgba(228, 228, 228, 0) 100%);
	background: linear-gradient(to right, #e4e4e4 0%, rgba(228, 228, 228, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#00e4e4e4',GradientType=1 );
}
.value-page .marquee-container:after {
	right: 0;
	background: -moz-linear-gradient(left, rgba(228, 228, 228, 0) 0%, #e4e4e4 100%);
	background: -webkit-linear-gradient(left, rgba(228, 228, 228, 0) 0%, #e4e4e4 100%);
	background: linear-gradient(to right, rgba(228, 228, 228, 0) 0%, #e4e4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e4e4', endColorstr='#e4e4e4',GradientType=1 );
}
.value-page .marquee-container .per-award {
	float: left;
	position: relative;
	display: block;
	width: 130px;
	min-height: 10px;
	margin-right: 14px;
	letter-spacing: normal;
}
.value-page .marquee-container .per-award[class*=first-]:before {
	position: absolute;
	left: 10px;
	bottom: 100%;
	color: #c70c18;
	font-size: 27px;
	font-weight: 600;
}
.value-page .marquee-container .per-award.first-2017:before {
	content: '2017';
}
.value-page .marquee-container .per-award.first-2016:before {
	content: '2016';
}
.value-page .marquee-container .per-award.first-2015:before {
	content: '2015';
}
.value-page .marquee-container .per-award.first-2014:before {
	content: '2014';
}
.value-page .marquee-container .per-award.first-2013:before {
	content: '2013';
}
.value-page .marquee-container .per-award {
	font-size: 13px;
	text-align: center;
}
.value-page .marquee-container .per-award img {
	width: 130px;
}
.value-page .marquee-container .per-award .award-project {
	font-weight: bold;
}
.value-page .marquee-container .per-award .award-project span {
	display: inline-block;
}
@media (max-width: 767px) {
	.value-page .carousel-inner > .item > .info {
		padding: 25px 45px;
	}
	.value-page .carousel-control {
		position: absolute;
		top: 50%;
		z-index: 5;
	}
	.value-page .carousel-control.left {
		left: 0;
	}
	.value-page .carousel-control.right {
		right: 0;
	}
	.value-page .carousel-indicators {
		width: 100%;
	}
	.value-page .seven-sort.device.pause .container {
		width: 100%;
	}
	.value-page .seven-sort .h2-decorate {
		width: calc(100% + 60px);
		top: -60px;
		left: -100px;
	}
	.value-page .seven-sort .h2-group {
		margin-bottom: 15px;
		text-align: center;
	}
	.value-page .seven-sort.device,
	.value-page .seven-sort .preview {
		height: 100vh;
	}
	.value-page .seven-sort h4 {
		height: 3em;
	}
	.value-page .seven-sort.device.pause .container:after {
		position: absolute;
		bottom: 10px;
		left: 50%;
		width: 52px;
		height: 52px;
		background-image: url(../../img/subscriptions/play-circle-half.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateX(-50%);
	}
}
@media (max-width: 374px) {
	.value-page .seven-sort .h2-group h2 {
		letter-spacing: 0.0065em;
	}
	.value-page .carousel-inner > .item > .info {
		padding: 25px 17px;
	}
}
@media (min-width: 375px) {
	.value-page .h2-decorate span img {
		width: 220px;
	}
	.value-page .h2-decorate .eng {
		font-size: 48px;
	}
}
@media (min-width: 414px) {
	.value-page .wrapper {
		letter-spacing: 0.05em;
	}
	.value-page .h2-decorate {
		margin-bottom: -90px;
	}
}
@media (min-width: 768px) {
	.value-page .opening:after {
		bottom: -60px;
		height: 120px;
	}
	.value-page .seven-sort .container {
		padding-top: 250px;
		padding-bottom: 100px;
	}
	.value-page .carousel {
		padding-bottom: 45px;
	}
	.value-page .carousel-inner > .item > a,
	.value-page .carousel-inner > .item > .item-left,
	.value-page .carousel-inner > .item > .item-left > a,
	.value-page .carousel-indicators {
		width: 840px;
	}
	.value-page .carousel-inner > .item > .item-left > a,
	.value-page .carousel-inner > .item > a {
		float: left;
	}
	.value-page .carousel-inner > .item > .info {
		position: absolute;
		right: 0px;
		bottom: 20px;
		width: calc( 100% - 840px);
		padding-left: 45px;
	}
	.value-page .seven-sort h4 {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.value-page .seven-sort h4 span {
		display: inline-block;
	}
	.value-page .h2-dec-group {
		position: absolute;
		top: -59px;
		left: -156px;
		margin-bottom: -59px;
	}
	.value-page .h2-decorate {
		float: left;
	}
	.value-page .seven-sort .h2-group {
		float: left;
		margin-top: 150px;
		margin-left: 35px;
		width: 483px;
	}
	.value-page .seven-sort .preview {
		background-attachment: fixed;
	}
	.value-page .seven-sort.device.pause .h2-group {
		width: 440px;
		margin-top: 60px;
		margin-left: 190px;
	}
	.value-page .seven-sort.device.play .h2-group {
		width: 560px;
	}
	.value-page .seven-sort.device.play .copyText {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	.value-page .h2-decorate span img {
		width: 272px;
	}
	.value-page .h2-decorate .eng {
		font-size: 60px;
	}
	.value-page .seven-sort .h2-group h2 {
		font-size: 36px;
	}
	.value-page .seven-sort .h2-group h2 img {
		padding: 9px 0;
		height: 54px;
	}
	.value-page .seven-sort .h2-group p {
		font-size: 18px;
	}
	.value-page .seven-sort .h2-group p span {
		display: inline-block;
	}
	.value-page .seven-sort.marquee .h2-group {
		width: 510px;
	}
	.value-page .seven-sort .videoRWD {
		bottom: 100px;
		left: 50%;
		transform: translateX(-50%);
	}
	.value-page .fixBtn a {
		width: 60px;
		height: 60px;
		padding: 11px 10px;
		font-size: 14px;
	}
	.value-page .fixBtn a.scrollTop {
		height: 50px;
	}
}
